@import "Variables";



#root{
border:2px solid;
display: grid;
grid-template-rows: 0.1fr 2fr 0fr 0fr;
min-width: 45rem;
min-height: 46rem;
// border: 2px solid;

}
#header {
  
  display: flex;
  justify-content: space-between;
  padding: 0px;
  background-color: white;
  border-bottom: 1px solid black;
  margin-bottom: 0;
  p {
    font-weight: bold;
    color: black;
  }

  #Hola {
    position: relative;
    bottom: 13px;
    right: 5px;
    font-size: 13px;
  }
}

#logo {
  display: flex;
  gap: 2px;
  padding-bottom: 4px;
  img {
    position: static;
    width: 60px;
    height: 50px;
   
   
  }
}

.despliegue {
  position: relative;
  top: 2px;
  font-size: 15px;
  margin-right: 8px;
  a {
    text-decoration: none;
  }
}

#opciones {
  display: none;

  box-shadow: 5px 5px 20px black;
  height: 250px;
  position: absolute;
  right: 10px;
  background-color: $ColoBlancoRoto;
  z-index: 1;
  width: 150px;
  background-color: rgba($ColoBlancoRoto, $alpha: 0.3);

  //  width: 1000px;

  li:last-child {
    position: absolute;
    margin-top: 85px;
  }
  li {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
  }
}
