#inicioSesion {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(154, 41, 41, 0.1);
    width: 381px;
    text-align: -webkit-match-parent;
}
#creacionUsuarios{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(154, 41, 41, 0.1);
    width: 381px;
    text-align: -webkit-match-parent;
} 