@import "Variables";
@import "AccesoEncabezado";
@import "Footer";

//Variable Color

// $colorPrincipalFondo :rgb(250,250,250);

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
 display: grid;
 grid-template-columns: auto;
 place-content: center;
  height: 100vh;
  background-color: #8a9659fc;
  // background-color: rgb(20, 20, 123);
  // background-color: rgb(102, 23, 23);
 
}
// #root{


// }

#estructura {
  
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr 0fr;
  
}

#iconos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 10px;
  // background-color: $ColoBlancoRoto;
 background:$ColoBlancoRoto;
  padding-top: 2rem;

  p {
    margin-top: .5rem;
  }
  a {
    text-decoration: none;
    color: #8a9659fc;
    font-weight: bold;
  }
}

#iconos div {
  text-align: center;
}

#iconos img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-bottom: 2px;
}
img[alt="icono"] {
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
}


/*Se lo metere cuando tenga el responsy*/
.icono{
  transition: all .3s ease;
  // background-color: aqua;
}

// .icono:hover{
//   transform: perspective(10px) rotateX(13deg) translateY(55%) scale(1) ;
// }
