@import 'InicioSesionOlvidaste';

 body {
    font-family: Arial, sans-serif;
    background-color: #ac2222;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}


fieldset {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background: #f9f9f9;
}

legend {
    font-weight: bold;
    color: #007bff;
}


input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


a {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}
// #inicioSesion {
//     background: #fff;
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 0 10px rgba(154, 41, 41, 0.1);
//     width: 381px;
//     text-align: -webkit-match-parent;
// }
// #creacionUsuarios{
//     background: #fff;
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 0 10px rgba(154, 41, 41, 0.1);
//     width: 381px;
//     text-align: -webkit-match-parent;
// } 