@import "Variables";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8a9659fc;
  display: grid;
  grid-template-columns: auto;
  min-width: 100vh;
  place-content: center;
}

#root {
  background: linear-gradient(white 5%, $ColoBlancoRoto);
  display: grid;
  grid-template-rows: 0fr;
  border: 3px solid;
  width: 45rem;
  height: 45rem;
  box-shadow: 5px 5px 2px $ColoBlancoRoto;
}
#logo {
  // background: #450229;
  // animation: controlDiario 1s infinite;
  h1 {
    display: flex;
    justify-content: center;
  }

  @keyframes controlDiario {
    0% {
      content: "Con";
    }
    25% {
      content: "Control";
    }
    50% {
      content: "Control Dia";
    }
    75% {
      content: "Control Diario";
    }
    100% {
      content: "Control Diario";
    }
  }
  h1::before {
    animation: controlDiario 5s ease;
    animation-iteration-count: 5;
    content: "Control Diario";
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: black;
  font-weight: bold;
  // background-color: $;

  fieldset {
    border: none;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    justify-content: center;
    align-content: center;
    padding-left: 2rem;
    padding-top: 1rem;
    gap: 0.3rem;
    color: black;
  }

  input {
    color: $ColorVerdeOliva;
    font-weight: bold;
  }
  input::placeholder {
    color: $ColorVerdeOliva;
  }
  option {
    color: $ColorVerdeOliva;
  }

  #OtherSector {
    display: none;

    input {
      width: 30rem;
      display: flex;
      justify-self: center;
      border: 0.2rem solid;
    }
  }
}

#buttonID {
  display: flex;
  position: relative;
  padding-top: 2rem;
  padding-left: 33rem;
  height: 2rem;
  min-width: max-content;
}
#button {
  width: 8rem;
  height: 1.7rem;
  color: black;
  font-weight: bold;
  background-color: $ColorVerdeOliva;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px black;
}
footer {
  display: flex;
  flex-direction: column;
 
 justify-self: center;
  // justify-content: center;
  // grid-template-columns: auto;
  // place-items: center;
  padding-top: 15rem;
  
  place-content: center;
  a {
    
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding-right: 4rem;
    padding-left: 2rem;
  }
  img {
    position: relative;
    right: 4rem;
    width: 2rem;
    opacity: 0.8;
    padding-right: 0;
  }
  #Descargar {
    color: white;
    background-color: $AzulMarino;
    border: 5px solid $AzulMarino;
    border-radius: 2px;
   padding-right: 0;
   padding-left: 0;
  
   gap: 1rem;
  }
}

// #popUp {
//   z-index: 1;

//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.631);

//   display: none;
//   position: fixed;
//   overflow: auto;
//   left: 0;
//   top: 0;
// }
// #popContenido {
//   width: 85%;
//   height: 10%;
// }
// .cerrar {
//   display: none;
//   color: #aaa;
//   /* float: left; */
//   font-size: 29px;
//   font-weight: bold;
//   position: absolute;
//   left: 725px;
// }
// .cerrar:hover,
// .cerrar:focus {
//   color: rgb(36, 7, 226);
//   text-decoration: none;
//   cursor: pointer;
// }
// #registroCorrecto {
//   display: none;
//   max-width: 25%;
//   height: 25%;
// }
// #popError {
//   display: none;
//   position: fixed;
//   z-index: 1;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
//   background-color: rgba(255, 255, 255, 0.631);
// }
// #ContenidoError {
//   background-color: transparent;
// }
// #imagenError {
//   width: 100px;
//   height: 100px;
//   margin: 0;
//   display: fixed;
//   justify-content: center;
//   align-items: center;
//   background-color: transparent;
//   animation: agrandarEncoger 4s infinite;
// }
// @keyframes agrandarEncoger {
//   0% {
//     transform: scale(1);
//   }
//   30% {
//     transform: scale(1.3);
//   }
//   70% {
//     transform: scale(1.7);
//   }
//   100% {
//     transform: scale(2);
//   }
// }

// #popErrorMensaje {
//   width: 50%;
//   margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }
